$color-green-500: rgb(0, 162, 169);
$color-green-100: rgb(229, 249, 237);

$color-blue-600: #0468da;
$color-blue-500: #0077ff;
$color-blue-400: #3391fb;
$color-blue-100: #e7f1ff;

$color-grey-900: #031b4e;
$color-grey-500: #657393;
$color-grey-100: #e7f2fd