.btn-primary {
    display: inline-block;
    height: 4.8rem;
    line-height: 4.8rem;
    padding: 0 1rem;
    color: white;
    background: $color-blue-500;
    border-radius: 4px;
    transition: background-color 0.2s;
    box-shadow: 0px 5px 7px 1px #0077ff47;

    &:hover {
        background-color: $color-blue-400;
    }

    &:active {
        background-color: $color-blue-600;
    }
}

.btn-text {
    display: inline-block;
    height: 4.8rem;
    line-height: 4.8rem;
    padding: 0 1rem;
    color: $color-blue-500;
}